{% extends 'base.html' %}
{% block title %}Add project - ProjectShare{% endblock %}

{% block content %}
  <h2 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
    Post a Project
  </h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
      <div class="mt-4">
        <label class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          Title
        </label>
        {{ form.title }}
      </div>

      <div class="mt-4">
        <label class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          Image
        </label>
        {{ form.image }}
      </div>

      <div class="mt-4">
        <label class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          Caption
        </label>
        {{ form.caption }}
      </div>

      <div class="mt-4">
        <label class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          Tags
        </label>
        {{ form.tags }}
      </div>

      <div class="mt-4">
        <label class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          Source Code
        </label>
        {{ form.source_code }}
      </div>

      <div class="mt-4">
        <label class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          Demo URL
        </label>
        {{ form.demo_url }}
      </div>

      <button type="submit" class="flex items-center justify-between px-4 py-2 mt-6 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
        <span>Post</span>
        <svg class="w-4 h-4 ml-2 -mr-1" fill="currentColor" aria-hidden="true" viewBox="0 0 20 20">
          <path d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" fill-rule="evenodd"></path>
        </svg>
      </button>
      
    </div>
  </form>
{% endblock %}
